# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.class
target
out
gen
fsfs_client.conf
*.txt
application-realproduction.yml
application-production.yml
fdfs_client.conf